form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: clamp(15em, 20em, 55em);
  min-height: 70vh;
  padding: 1em;
  margin: auto;
}

form h2 {
  padding: 0.5em;
  text-align: center;
}

textarea {
  width: clamp(15em, 18em, 20em);
  height: clamp(5em, 10em, 25em);
}

input {
  width: clamp(15em, 23em, 25em);
}

.debtInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.debtInput {
  border: 3px solid var(--clr-blue);
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.5em;
}

.debt-btn {
  width: clamp(7em, 10em, 13em);
  border: 3px solid var(--clr-blue);
  border-radius: 10px;
  font-size: var(--font-md);
  font-weight: 700;
  margin-top: 1em;
}

/* md */
@media (min-width: 768px) {
  form {
    width: clamp(35em, 45em, 75em);
  }

  form h2 {
    font-size: var(--font-2xl);
  }

  form input {
    width: clamp(15em, 20em, 50em);
  }

  form textarea {
    width: clamp(30em, 40em, 100em);
    height: clamp(10em, 15em, 25em);
  }

  .debtInputs {
    flex-direction: row;
  }

  .debtInput {
    padding: 1em;
  }

  .debt-btn {
    width: clamp(15em, 20em, 30em);
    font-size: var(--font-md);
  }

  .debt-btn:hover {
    background: var(--clr-blue);
    color: var(--clr-red);
  }
}
