footer {
  flex: 1;
  flex-shrink: 0;
  border-top: 1px solid var(--clr-blue);
  box-shadow: 0 0em 1em var(--clr-blue);
  margin-top: auto;
  padding: 0.25em;
}

.creator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25em;
  margin: 0.5em;
}

.creator a {
  color: var(--clr-light);
  font-size: var(--font-md);
  transition: all 0.3s ease-in-out;
}

/* md */
@media (min-width: 768px) {
  .creator a:hover {
    color: var(--clr-red);
  }
}
