.debtor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--clr-blue);
  filter: drop-shadow(0 0 1em var(--clr-blue));
  border-radius: 10px;
  width: clamp(15em, 20em, 55em);
  margin: 1em auto;
  transition: all 0.3s ease-in-out;
}

.debtor__title {
  padding: 0 1em;
  margin: 0.5em 0;
}

.debtor__info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.debtor__info .debtor__description:nth-child(2) {
  flex-direction: column;
}

.debtor__description {
  color: var(--clr-light);
  padding: 0 1em;
  margin: auto;
}

.debtor__description span,
input {
  color: var(--clr-red);
  max-width: 30ch;
  padding: 0 1em;
  margin: 0.5em 0;
}

.debtor__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.debtor__contact-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em;
}

.debtor__contact-option img {
  max-width: 1.5em;
}

.debtor-btn-container {
  border-top: 3px solid var(--clr-red);
  margin-top: 1em;
}

.debtor-btn {
  padding: 0.5em;
  margin: 0.5em 0.25em;
  border: none;
  background: none;
  font-size: var(--font-md);
}

.debtor-btn img {
  max-width: 3em;
  filter: grayscale(100%);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.debtor__edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.debtor__edit .debtor__title,
.debtor__description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  width: clamp(10em, 15em, 55em);
}

.debtor__title input {
  max-width: 80%;
  text-align: center;
  padding: 0 1em;
  margin: 0.5em 0;
  font-size: var(--font-md);
}

.debtor__description:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.debtor__description input,
textarea {
  text-align: center;
  padding: 0 0.5em;
  margin: 0.5em;
  font-size: var(--font-md);
  color: var(--clr-red);
}

.debtor__description input {
  max-width: 25%;
}

.debtor__description textarea {
  max-width: 100%;
  max-height: 10em;
  color: var(--clr-red);
}

.debtor__edit-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.debtor__edit-contacts li {
  max-width: 15em;
  justify-content: center;
}

/* md */
@media (min-width: 768px) {
  .debtor {
    width: clamp(35em, 45em, 55em);
  }

  .debtor__edit {
    width: clamp(35em, 45em, 55em);
  }

  .debtor__title {
    font-size: var(--font-xl);
  }

  .debtor__description {
    font-size: var(--font-lg);
  }

  .debtor-btn {
    font-size: var(--font-lg);
  }

  .debtor-btn img:hover {
    filter: grayscale(0) drop-shadow(0 0 0.5em var(--clr-red));
  }
}
