.btn {
  width: 3.5em;
  padding: 1em;
  border: none;
  border-radius: 50%;
  background: none;
  color: var(--clr-light);
  font-size: var(--font-md);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.debtForm-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.debtForm-toggle-btn {
  width: clamp(7em, 10em, 13em);
  padding: 1em;
  border: none;
  border: 3px solid var(--clr-red);
  border-radius: 10px;
  filter: drop-shadow(0.5em 0.5em 1em var(--clr-red));
}

/* md */
@media (min-width: 768px) {
  .btn:hover {
    background: var(--clr-red);
  }

  .debtForm-toggle-btn:hover {
    filter: drop-shadow(0 0 1em var(--clr-red));
  }
}
